# direnv
# As per https://github.com/romkatv/powerlevel10k#how-do-i-initialize-direnv-when-using-instant-prompt
(( ${+commands[direnv]} )) && eval "$(direnv export zsh)"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# for filename in $ZDOTDIR/{options,completion,keybindings,commands,prompt}.zsh; do
for filename in "$HOME/.config/zsh/"*.zsh; do
    source $filename
done
unset filename

# Path to your oh-my-zsh installation.
export ZSH="$XDG_DATA_HOME"/oh-my-zsh

ZSH_CUSTOM="$XDG_DATA_HOME"/oh-my-zsh/custom
ZSH_THEME=powerlevel10k/powerlevel10k

# OMZ: Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# FZF
export FZF_BASE="$HOME/.config/fzf"

# active plugins
{{- if (.is_desktop) }}
plugins=(evalcache z git zsh-autosuggestions kubectl aliases fzf aws)
{{- else }}
plugins=(evalcache z git zsh-autosuggestions kubectl aliases fzf aws)
{{- end }}

source $ZSH/oh-my-zsh.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.config/zsh/.p10k.zsh ]] || source ~/.config/zsh/.p10k.zsh

# direnv zsh hook
(( ${+commands[direnv]} )) && _evalcache direnv hook zsh

# mise zsh hooks
# export MISE_TIMINGS=1
# when _evalcache_clear?
(( ${+commands[mise]} )) && _evalcache mise activate zsh
