{{- if .is_wsl -}}
#!/usr/bin/env bash

PIP_PACKAGES=(
  pre-commit
)

echo "Installing/updating pip packages: ${PIP_PACKAGES[@]}"
/usr/bin/python3 -m pip install --user --upgrade pip
/usr/bin/python3 -m pip install --user --upgrade ${PIP_PACKAGES[@]}

{{ end }}
