#!/usr/bin/env bash

{{ if .secrets -}}

AGE_BIN=age
AGE_DOWNLOAD_URL="https://github.com/FiloSottile/age/releases/download/v1.1.1/age-v1.1.1-linux-amd64.tar.gz"

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then

  if ! command -v "$AGE_BIN" &> /dev/null; then
      AGE_TMP_DIR="/tmp/age"
      rm -rf "$AGE_TMP_DIR"; mkdir -p "$AGE_TMP_DIR"
      curl -L "$AGE_DOWNLOAD_URL" | tar -xz --strip-components 1 -C "$AGE_TMP_DIR"
      AGE_BIN="$AGE_TMP_DIR/age"
      chmod +x "$AGE_BIN"
  fi

  echo "Requesting passphrase to decrypt age key"
  "$AGE_BIN" --decrypt --output "${HOME}/.config/chezmoi/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi

{{- end }}
