config_info: |
  {{- $email := env "DATA_email" -}}
  {{- if not $email -}}
  {{-   $email = promptStringOnce . "email" "What is your email address" -}}
  {{- end -}}

  {{- $name := env "DATA_name" -}}
  {{- if not $name -}}
  {{-   $name = promptStringOnce . "name" "What is your name" -}}
  {{- end -}}

  {{- $personal_device := env "DATA_personal_device" -}}
  {{- if not $personal_device -}}
  {{-   $personal_device = promptStringOnce . "personal_device" "true if this machine should have personal setup" -}}
  {{- end -}}

  {{- $work_device := env "DATA_work_device" -}}
  {{- if not $work_device -}}
  {{-   $work_device = promptStringOnce . "work_device" "true if this machine should have work setup" -}}
  {{- end -}}

  {{- $is_wsl := false -}}
  {{- if .chezmoi.kernel -}}
  {{-   if hasKey .chezmoi.kernel "osrelease" -}}
  {{-     $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{-   end -}}
  {{- end -}}

  {{- $sourceDir := .chezmoi.sourceDir -}}
  {{- $username := .chezmoi.username -}}

  {{- if eq .chezmoi.os "windows" -}}
  {{-   $sourceDir = printf "%s%s" .chezmoi.homeDir "/AppData/Local/chezmoi" -}}
  {{-   $username = env "USERNAME" -}}
  {{- end -}}

  {{ "" }}
  Generated for user={{ $username }}, hostname{{ .chezmoi.hostname }}

data:
  email: {{ $email }}
  name: {{ $name }}
  personal_device: {{ $personal_device }}
  work_device: {{ $work_device }}
  is_wsl: {{ $is_wsl }}
  # desktop or server
  # personal or work

encryption: "gpg"
gpg:
  recipient: "72856692E69B44EFE4DEE1B53E00B30213F541DD"
  args: ["--quiet"]
