# chezmoi:template:missing-key=invalid
config_info: |

  {{- $data := include ".chezmoidata.yaml.age" | decrypt | fromYaml -}}
  {{- $profiles := include ".chezmoidata_profiles.yaml.age" | decrypt | fromYaml -}}

  {{- $email := env "DATA_email" -}}
  {{- if not $email -}}
  {{-   $email = promptStringOnce . "email" "What is your email address" -}}
  {{- end -}}

  {{- $name := coalesce $data.name (env "DATA_name") -}}
  {{- if not $name -}}
  {{-   $name = promptStringOnce . "name" "What is your name" -}}
  {{- end -}}

  {{- $profile := env "DATA_profile" -}}
  {{- if not $profile -}}
  {{-   $profile = promptStringOnce . "profile" "Which profile should be used for this machine? (personal/work1/work2)" -}}
  {{- end -}}

  {{- $is_wsl := false -}}
  {{- if .chezmoi.kernel -}}
  {{-   if hasKey .chezmoi.kernel "osrelease" -}}
  {{-     $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{-   end -}}
  {{- end -}}

  {{- $sourceDir := .chezmoi.sourceDir -}}
  {{- $username := .chezmoi.username -}}

  {{- if eq .chezmoi.os "windows" -}}
  {{-   $sourceDir = printf "%s%s" .chezmoi.homeDir "/AppData/Local/chezmoi" -}}
  {{-   $username = env "USERNAME" -}}
  {{- end -}}

  {{- $personal_device := eq $profile "personal" -}}
  {{- $work_device := not (eq $profile "personal") -}}

  {{ "" }}
  Generated for user={{ $username }}, hostname{{ .chezmoi.hostname }}

encryption: age
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1cckqh88dv9m75dcd9ftkjqxuc6y8zsvp40yavdkp37l5cvajraxs0lxnlj"

data:
  profile: {{ $profile }}
  email: {{ $email }}
  name: {{ $name }}
  personal_device: {{ $personal_device }}
  work_device: {{ $work_device }}
  is_wsl: {{ $is_wsl }}
  git:
    signingkey: {{ $data.git.signingkey }}
  profiles: # list of profiles {{ "\n" }}{{ include ".chezmoidata_profiles.yaml.age" | decrypt | fromYaml | toYaml | indent 4 }}
  # desktop or server
