# required for pre-commit shellcheck on Windows
*.sh text eol=lf

# required for pre-commit yamllint on Windows
*.yaml text eol=lf
*.yml text eol=lf

*.sh.tmpl linguist-language=shell
home/private_dot_local/bin/* linguist-language=shell
