# {{ $kustomizeVersion := "4.5.7" }}
# {{ $direnvVersion := "2.32.2" }}

# {{ if and (.is_desktop) (eq .chezmoi.os "linux") }}
".local/bin/bw":
  type: "file"
  url: "https://vault.bitwarden.com/download/?app=cli&platform=linux"
  executable: true
  refreshPeriod: "168h"
  filter:
    command: "zcat"

".local/bin/kustomize":
  type: "file"
  url: "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v{{ $kustomizeVersion }}/kustomize_v{{ $kustomizeVersion }}_linux_{{ .chezmoi.arch }}.tar.gz"
  executable: true
  filter:
    command: "tar"
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "kustomize"]

".local/share/nvm":
  type: "archive"
  url: "https://github.com/nvm-sh/nvm/archive/master.tar.gz"
  stripComponents: 1
  refreshPeriod: "168h"

".local/bin/direnv":
  type: "file"
  url: "https://github.com/direnv/direnv/releases/download/v{{ $direnvVersion }}/direnv.linux-{{ .chezmoi.arch }}"
  executable: true

# {{ end }}

# {{ if eq .chezmoi.os "linux" }}
".oh-my-zsh":
  type: "archive"
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".oh-my-zsh/custom/themes/powerlevel10k":
  type: "archive"
  url: "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: "archive"
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".oh-my-zsh/custom/plugins/zsh-nvm":
  type: "archive"
  url: "https://github.com/lukechilds/zsh-nvm/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

# {{ end }}
