README.md
key.txt.age

{{ if .is_server }}
.config/git
{{ end }}

{{ if eq .chezmoi.os "linux" }}
.local/share/oh-my-zsh/cache/**
.local/share/oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config/*
!.config/dsc
{{ end }}

{{ if ne .chezmoi.os "linux" }}
**/*.sh

.local/share/bash-completion/**
.gnupg
.bash_history
.bashrc
.profile
.zshenv
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
AppData

.config/dsc

.gitconfig
.npmrc
{{ end }}

{{ if not (and (.is_desktop) (eq .profile "work1")) }}
.m2
{{ end }}
