{{ if eq .chezmoi.os "linux" }}

# YADM is not needed anymore now that we are using chezmoi
.config/yadm
.local/share/yadm
.local/bin/yadm

# .config/oh-my-zsh/custom moved to .oh-my-zsh/custom
.config/oh-my-zsh

# XDG related cleanups - files
.lesshst
.bash_history
.bash_profile
.oh-my-zsh
.wget-hsts
.zcompdump
.zsh_history
.zshrc

# XDG related cleanups - directories
.ansible
.azure
{{ end }}
