# chezmoi:template:missing-key=invalid
encryption: age
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1cckqh88dv9m75dcd9ftkjqxuc6y8zsvp40yavdkp37l5cvajraxs0lxnlj"

interpreters:
  ps1:
    # Prefer PowerShell Core over PowerShell Desktop
    # https://github.com/PowerShell/PowerShell/issues/8635#issuecomment-454028787
    command: '{{ if env "CHEZMOI_PS1_COMMAND" }}{{ env "CHEZMOI_PS1_COMMAND" }}{{ else if lookPath "pwsh.exe" }}pwsh.exe{{ else }}powershell.exe{{ end }}'
    args: ["-NoLogo", "-NoProfile"]

status:
  exclude:
    - always

config_info: |
  {{- $interactive := stdinIsATTY -}}
  {{- $ephemeral := false -}}
  {{- $profile_key := coalesce (env "DATA_profile") (get . "profile") | default "" -}}
  {{- $name := "Jan-Willem Mulder" -}}
  {{- $email := "jwnmulder@gmail.com" -}}

  {{- $is_wsl := false -}}
  {{- if and .chezmoi.kernel (hasKey .chezmoi.kernel "osrelease") -}}
  {{-   $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{- end -}}

  {{- $is_desktop := or ($is_wsl) (eq .chezmoi.os "windows") (eq (env "IS_DESKTOP") "true") -}}

  {{- if or (env "CODESPACES") (env "GITPOD_WORKSPACE_ID") -}}
  {{-   $ephemeral = true -}}
  {{-   $profile_key = "personal" -}}
  {{-   $is_desktop = true -}}
  {{-   $name = coalesce (env "GITPOD_GIT_USER_NAME") $name -}}
  {{-   $email = coalesce (env "GITPOD_GIT_USER_EMAIL") $email -}}
  {{- end -}}

  {{- $is_server := not $is_desktop -}}
  {{- range $i := until 5 -}}
  {{-   if regexMatch "^((personal)|(work1)|(work2))$" $profile_key -}}
  {{-     break -}}
  {{-   else -}}
  {{-     $profile_key = promptString "Which profile should be used for this machine? (personal/work1/work2)" -}}
  {{-   end -}}
  {{-   if eq $i 4 -}}
  {{-     writeToStdout "❌ ERROR: Invalid profile selected\n" -}}
  {{-     exit 1 -}}
  {{-   end -}}
  {{- end -}}

  {{- $personal_device := eq $profile_key "personal" -}}
  {{- $work_device := ne $profile_key "personal" -}}

  {{- $hook_extension := (eq .chezmoi.os "windows") | ternary  "cmd" "sh" -}}
  {{- $use_encrypted_data := and $interactive (not $ephemeral) (not $is_server) -}}

  {{ "" }}
  Generated for user={{ .chezmoi.username }}, hostname={{ .chezmoi.hostname }}
  .private.yaml.age hash={{ include (joinPath .chezmoi.workingTree "home/.chezmoidata/.private.yaml.age") | sha256sum }}
  .private_proviles.yaml.age hash={{ include (joinPath .chezmoi.workingTree "home/.chezmoidata/.private_profiles.yaml.age") | sha256sum }}

hooks:
  read-source-state:
    pre:
      command: "{{ .chezmoi.sourceDir }}/.chezmoihooks/read-source-state.pre.{{ $hook_extension }}"
      args: [ "read-source-state", "--decrypt_key", "{{ $use_encrypted_data }}" ]
  init:
    pre:
      command: "{{ .chezmoi.sourceDir }}/.chezmoihooks/init.pre.{{ $hook_extension }}"
      args: [ "init", "--decrypt_key", "{{ $use_encrypted_data }}" ]
  update:
    post:
      command: "{{ .chezmoi.sourceDir }}/.chezmoihooks/update.post.{{ $hook_extension }}"
      args: [ "update", "--decrypt_key", "{{ $use_encrypted_data }}" ]

data:
  is_wsl: {{ $is_wsl }}
  is_server: {{ $is_server }}
  is_desktop: {{ $is_desktop  }}
{{- if eq .chezmoi.os "linux" }}
  uname:
    machine: '{{ output "uname" "-m" | trim }}'
{{- end }}
{{- if $is_wsl }}
  wsl:
    win_username: {{ output "bash" "-c" "set -o pipefail && cmd.exe /C echo %USERNAME% 2>/dev/null | tr -d '\r\n'" }}
{{- end }}
  profile: {{ $profile_key }}
  personal_device: {{ $personal_device }}
  work_device: {{ $work_device }}
  name: {{ $name }}
  email: {{ $email }}
