# chezmoi:template:missing-key=invalid
config_info: |
  {{- $interactive := stdinIsATTY -}}
  {{- $ephemeral := false -}}
  {{- $profile := coalesce (env "DATA_profile") (get . "profile") "<no value>" -}}
  {{- $name := .name -}}
  {{- $email := .email -}}

  {{- $is_wsl := false -}}
  {{- if .chezmoi.kernel -}}
  {{-   if hasKey .chezmoi.kernel "osrelease" -}}
  {{-     $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{-   end -}}
  {{- end -}}

  {{- $is_desktop := or ($is_wsl) (eq .chezmoi.os "windows") (eq (env "IS_DESKTOP") "true") -}}

  {{- if or (env "CODESPACES") (env "GITPOD_WORKSPACE_ID") -}}
  {{-   $ephemeral = true -}}
  {{-   $profile = "personal" -}}
  {{-   $is_desktop = true -}}
  {{-   $name = coalesce (env "GITPOD_GIT_USER_NAME") .name -}}
  {{-   $email = coalesce (env "GITPOD_GIT_USER_EMAIL") .email -}}
  {{- end -}}

  {{- $is_server := not $is_desktop -}}
  {{- $workingTree := .chezmoi.workingTree -}}
  {{- $username := .chezmoi.username -}}

  {{- $script_ext := "sh" -}}
  {{- if eq .chezmoi.os "windows" -}}
  {{-   $script_ext = "bat" -}}
  {{-   $workingTree = printf "%s%s" .chezmoi.homeDir "/AppData/Local/chezmoi" -}}
  {{-   $username = env "USERNAME" -}}
  {{- end -}}

  {{- if and $interactive (not $ephemeral) (not $is_server) (not (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt"))) -}}
  {{-   $instructions := output (print .chezmoi.workingTree "/bin/decrypt-private-key-instructions." $script_ext) .chezmoi.workingTree -}}
  {{-   writeToStdout "Missing key.txt. Please follow the instructions below.\n" writeToStdout $instructions -}}
  {{- end -}}

  {{- range $i := until 5 -}}
  {{-   if regexMatch "^((personal)|(work\\d))$" $profile -}}
  {{-     break -}}
  {{-   else -}}
  {{-     $profile = promptString "Which profile should be used for this machine? (personal/work1/work2)" -}}
  {{-   end -}}
  {{-   if eq $i 4 -}}
  {{-     writeToStdout "❌ ERROR: Invalid profile selected\n" -}}
  {{-     exit 1 -}}
  {{-   end -}}
  {{- end -}}

  {{- $personal_device := eq $profile "personal" -}}
  {{- $work_device := ne $profile "personal" -}}

  {{- $profiles := .profiles -}}
  {{- $data := "" -}}
  {{- $profile_data := "" -}}
  {{- $git := .git -}}

  {{- if and
        (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt"))
        (stat (joinPath .chezmoi.homeDir ".config/chezmoi/chezmoi.yaml")) -}}
  {{-   $data = include (joinPath .chezmoi.workingTree "home/.data/chezmoidata.yaml.age") | decrypt | fromYaml -}}
  {{-   $profiles = include (joinPath .chezmoi.workingTree "home/.data/chezmoidata_profiles.yaml.age") | decrypt | fromYaml -}}

  {{-   $name = $data.name -}}
  {{-   $git = $data.git -}}
  {{- else if and (not $ephemeral) (not $is_server)  -}}
  {{-   writeToStdout "WARNING: Please re-run chezmoi init again to complete chezmoi.yaml data setup" -}}
  {{- end -}}

  {{- if $profiles -}}
  {{-   $profile_data = get $profiles $profile -}}

  {{-   $email = $profile_data.email -}}
  {{- end -}}

  {{ "" }}
  Generated for user={{ $username }}, hostname={{ .chezmoi.hostname }}

encryption: age
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1cckqh88dv9m75dcd9ftkjqxuc6y8zsvp40yavdkp37l5cvajraxs0lxnlj"

data:
  is_wsl: {{ $is_wsl }}
  is_server: {{ $is_server }}
  is_desktop: {{ $is_desktop  }}
{{- if eq .chezmoi.os "linux" }}
  uname:
    machine: "{{ output "uname" "-m" | trim }}"
{{- end }}
  profile: {{ $profile }}
  personal_device: {{ $personal_device }}
  work_device: {{ $work_device }}
  email: {{ $email }}
  name: {{ $name }}
{{- if $git }}
  git:
    signingkey: {{ $git.signingkey }}
{{- end }}
{{- if $data.password_store }}
  password_store:
    repo: {{ $data.password_store.repo }}
{{- end }}
{{- if $profiles }}
  profiles:
{{ $profiles | toYaml | indent 4 }}
{{- end }}
