# chezmoi:template:missing-key=invalid
config_info: |
  {{- $interactive := stdinIsATTY -}}

  {{- $is_wsl := false -}}
  {{- if .chezmoi.kernel -}}
  {{-   if hasKey .chezmoi.kernel "osrelease" -}}
  {{-     $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{-   end -}}
  {{- end -}}

  {{- $script_ext := "sh" -}}
  {{- if eq .chezmoi.os "windows" -}}
  {{-   $script_ext = "bat" -}}
  {{-   $sourceDir = printf "%s%s" .chezmoi.homeDir "/AppData/Local/chezmoi" -}}
  {{-   $username = env "USERNAME" -}}
  {{- end -}}

  {{- if not (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt")) -}}
  {{-   $instructions := output (print .chezmoi.sourceDir "/.bin/decrypt-private-key-instructions." $script_ext) .chezmoi.sourceDir -}}
  {{-   writeToStdout "Missing key.txt. Please follow the instructions below.\n" writeToStdout $instructions -}}
  {{- end -}}

  {{- $is_desktop := or ($is_wsl) (eq .chezmoi.os "windows") -}}
  {{- $is_server := not $is_desktop -}}

  {{- $sourceDir := .chezmoi.sourceDir -}}
  {{- $username := .chezmoi.username -}}

  {{- $profile := coalesce (env "DATA_profile") (get . "profile") "<no value>" -}}
  {{- range $i := until 5 -}}
  {{-   if regexMatch "^((personal)|(work\\d))$" $profile -}}
  {{-     break -}}
  {{-   else -}}
  {{-     $profile = promptString "Which profile should be used for this machine? (personal/work1/work2)" -}}
  {{-   end -}}
  {{-   if eq $i 4 -}}
  {{-     writeToStdout "❌ ERROR: Invalid profile selected\n" -}}
  {{-     exit 1 -}}
  {{-   end -}}
  {{- end -}}

  {{- $personal_device := eq $profile "personal" -}}
  {{- $work_device := not (eq $profile "personal") -}}

  {{- $profiles := .profiles -}}
  {{- $data := "" -}}
  {{- $profile_data := "" -}}
  {{- $name := .name -}}
  {{- $git := .git -}}
  {{- $email := .email -}}

  {{- if and
        (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt")) 
        (stat (joinPath .chezmoi.homeDir ".config/chezmoi/chezmoi.yaml")) -}}
  {{-   $data = include ".data/chezmoidata.yaml.age" | decrypt | fromYaml -}}
  {{-   $profiles = include ".data/chezmoidata_profiles.yaml.age" | decrypt | fromYaml -}}

  {{-   $name = $data.name -}}
  {{-   $git = $data.git -}}
  {{- else -}}
  {{-   writeToStdout "WARNING: Please re-run chezmoi init again to complete chezmoi.yaml data setup" -}}
  {{- end -}}

  {{- if $profiles -}}
  {{-   $profile_data = get $profiles $profile -}}

  {{-   $email =$profile_data.email -}}
  {{- end -}}

  {{ "" }}
  Generated for user={{ $username }}, hostname={{ .chezmoi.hostname }}, generated_at={{ now | date "2006-01-02 15:04:05"}}

encryption: age
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1cckqh88dv9m75dcd9ftkjqxuc6y8zsvp40yavdkp37l5cvajraxs0lxnlj"

data:
  is_wsl: {{ $is_wsl }}
  is_server: {{ $is_server }}
  is_desktop: {{ $is_desktop  }}
  profile: {{ $profile }}
  personal_device: {{ $personal_device }}
  work_device: {{ $work_device }}
  email: {{ $email }}
  name: {{ $name }}
{{- if $git }}
  git:
    signingkey: {{ $git.signingkey }}
{{- end }}
{{- if $profiles }}
  profiles:
{{ $profiles | toYaml | indent 4 }}
{{- end }}
