{{ if eq .chezmoi.os "linux" }}

# YADM is not needed anymore now that we are using chezmoi
.config/yadm
.local/share/yadm
.local/bin/yadm

# .config/oh-my-zsh/custom moved to .oh-my-zsh/custom
.config/oh-my-zsh

# XDG related cleanups - files
.lesshst
.bash_history
.bash_profile
.npmrc
.oh-my-zsh
.wget-hsts
.zcompdump
.zsh_history
.zshrc
.rnd

# XDG related cleanups - directories
.ansible
.azure
.azcopy

# Removal of old dotfiles
.config/shellrc/profile.d/31_wsl_ssh_agent

# rtx renamed to mise
.cache/oh-my-zsh/completions/_rtx
.cache/rtx
.config/rtx
.config/shellrc/rtx
.local/bin/rtx
.local/share/rtx
.local/share/oh-my-zsh/completions/_rtx
.local/share/bash-completion/completions/rtx

# mise config updates
.config/mise/config.toml

# pipx replaced by uv
.cache/pipx
.local/pipx
.local/share/pipx
.local/state/pipx
.local/bin/pipx
.local/bin/pipx.pyz
.shiv

{{ end }}

{{ if eq .chezmoi.os "windows" }}

# Windows powershell profile cleanup
Documents\PowerShell\Microsoft.PowerShell_profile.ps1
Documents\PowerShell\Microsoft.VSCode_profile.ps1
Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1
Documents\WindowsPowerShell\Microsoft.VSCode_profile.ps1

# Old download locations for fonts
.cache/chezmoi/fonts/*.ttf

# pipx replaced by uv
.local/pipx
.local/bin/pipx.exe
.shiv

{{ end }}
