README.md
key.txt.age

{{ if .is_server }}
.config/git
{{ end }}

{{ if eq .chezmoi.os "linux" }}
.local/share/oh-my-zsh/cache/**
.local/share/oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
{{ end }}

{{ if ne .chezmoi.os "linux" }}
**/*.sh

.config/git
.config/zsh
.bashrc
.profile
.zshenv
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
AppData

.gitconfig
.config/winget
{{ end }}

{{ if not and (.is_desktop) (eq .chezmoi.os "windows") (eq .profile "work1") }}
.npmrc
{{ end }}

{{ if not and (.is_desktop) (eq .profile "work1") }}
.m2
{{ end }}
