@echo off

setlocal enabledelayedexpansion

{{ if eq .profile "personal" }}
set winget_packages=^
    Bitwarden.Bitwarden

set scoop_packages=^
    chezmoi
{{ else }}
set winget_packages=

set scoop_packages=^
    chezmoi
{{ end }}

@rem Winget packages
winget list > "%TEMP%\\winget_list"
(for %%a in (%winget_packages%) do (
    FINDSTR "%%a" "%TEMP%\\winget_list" >NUL
    if !errorlevel! equ 1 (
        echo Installing winget package: %%a
        winget install --accept-package-agreements --accept-source-agreements --silent --scope user --exact --id "%%a"
    )
))

@rem Scoop packages
if not "%scoop_packages%" == "" (
    scoop install %scoop_packages%
)
