{{- if .is_desktop -}}
#!/usr/bin/env bash

set -euo pipefail

{{ $pip_packages := list
  "pre-commit"
  "yq"
-}}

echo "Installing/updating pip packages: {{ $pip_packages | join " " }}"
python3 -m pip install --isolated --user --upgrade pip | { grep -v 'Requirement already satisfied' || true; }
python3 -m pip install --isolated --user --upgrade {{ $pip_packages | join " " }} | { grep -v 'Requirement already satisfied' || true; }

{{ end -}}
