{{- if .is_desktop -}}
#!/usr/bin/env bash

set -euo pipefail

PIP_PACKAGES=(
  pre-commit
  yq
)

echo "Installing/updating pip packages: ${PIP_PACKAGES[@]}"
python3 -m pip install --isolated --user --upgrade pip | { grep -v 'Requirement already satisfied' || true; }
python3 -m pip install --isolated --user --upgrade ${PIP_PACKAGES[@]} | { grep -v 'Requirement already satisfied' || true; }

{{ end }}
