Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{- if and (.is_desktop) (lookPath "py.exe") -}}

{{ $python_tools := concat
  (dig "all" list .python_tools)
  (dig .profile list .python_tools) -}}

Write-Host "Installing/updating python tools: {{ .python_tools | join " " }}"

$PIPX_BIN = (Get-Command pipx.exe -ErrorAction SilentlyContinue).Source
if (-not $PIPX_BIN) {
    $PIPX_BIN = "$env:USERPROFILE\.local\bin\uv"
}

{{ range $pipx_packages -}}
  Write-Host Installing python tool '{{ . }}'
  Invoke-Expression "& '$PIPX_BIN' tool install {{ . }} --force"
{{ end }}

{{ end -}}
