{{- if and (.is_desktop) (eq .chezmoi.os "windows") (eq .profile "work1") -}}

Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

# Popluate env:Path (required during initial bootstrap)
{{ template "script-env-powershell.ps1.tmpl" }}

krew install {{ .packages.kubectl_krew_plugins | join " " }}

{{ end -}}
