Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

# Popluate env:Path (required during initial bootstrap)
{{ template "script-env-powershell.ps1.tmpl" }}

{{ $scoop_packages := concat
  (dig "all" list .packages.scoop_packages)
  (dig .profile list .packages.scoop_packages) -}}


{{ if gt (len $scoop_packages) 0 -}}

  # Add useful scoop buckets
  scoop bucket add extras

  # Install scoop packages
  scoop install {{ $scoop_packages | join " " }}
{{ end }}
