Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

# Popluate env:Path (required during initial bootstrap)
{{ template "script-env-powershell.ps1.tmpl" }}

{{ $winget_packages := concat
  (dig "all" list .packages.winget_packages)
  (dig .profile list .packages.winget_packages) -}}

#region Winget packages
Write-Host Installing winget packages '{{ $winget_packages | join " " }}'
winget install `
  --scope user --exact --source winget `
  --accept-source-agreements `
  --accept-package-agreements `
  --silent `
  --disable-interactivity `
  {{ $winget_packages | join " " }}
#endregion
