Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{- if and (.is_desktop) (lookPath "py.exe") -}}

{{ $pip_packages := list
  "pre-commit"
  "yq"
-}}

# Install pipx
{{ if not (stat (joinPath .chezmoi.homeDir ".local/bin/pipx.exe")) }}
  Write-Host "Installing pipx"
  $PIPX_DST = [System.IO.Path]::GetTempPath() + "pipx.pyz"
  Invoke-WebRequest -Uri "https://github.com/pypa/pipx/releases/latest/download/pipx.pyz" -OutFile $PIPX_DST
  py -3 $PIPX_DST install pipx
{{ end }}

Write-Host "Installing/updating pipx packages: {{ $pip_packages | join " " }}"

$PIPX_BIN = (Get-Command pipx.exe -ErrorAction SilentlyContinue).Source
if (-not $PIPX_BIN) {
    $PIPX_BIN = "$env:USERPROFILE\.local\bin\pipx"
}

{{ range $pip_packages -}}
  Write-Host Installing pipx package '{{ . }}'
  Invoke-Expression "& '$PIPX_BIN' install {{ . }} --force"
{{ end }}

{{ end -}}
