Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ if and (.is_desktop) (lookPath "git") -}}

cd "{{ .chezmoi.workingTree }}"

#setup pre-commit
{{ if (lookPath "pre-commit.exe") -}}
pre-commit.exe install
{{- end }}

{{- end }}
