Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ if and (.is_desktop) (lookPath "git") -}}

cd "{{ .chezmoi.workingTree }}"

# Executable mode does not work on company onedrive folders
git config --local core.fileMode false

#setup prek, aka better pre-commit
{{ if (lookPath "prek.exe") -}}
prek.exe install
{{- end }}

{{- end }}
