Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ if and (.is_desktop) (lookPath "git") -}}

cd "{{ .chezmoi.workingTree }}"

#setup prek, aka better pre-commit
{{ if (lookPath "prek.exe") -}}
prek.exe install
{{- end }}

{{- end }}
