Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

# Popluate env:Path (required during initial bootstrap)
{{ template "script-env-powershell.ps1.tmpl" }}

{{ $winget_packages := concat
  (dig "all" list .packages.winget_packages)
  (dig .profile list .packages.winget_packages) -}}

$failedPackages = @()
$lastFailedExitCode = 0

{{ range $winget_packages -}}
    Write-Host Installing winget package '{{ .}}'
    winget install `
      --scope user --exact --source winget --id {{ . }} `
      --accept-source-agreements `
      --accept-package-agreements `
      --silent `
      --disable-interactivity `
      --no-upgrade
    if ($LASTEXITCODE -ne 0 -and $LASTEXITCODE -ne 0x8a150061) {
      Write-Warning "Failed to install package '{{ . }}' (exit code: $LASTEXITCODE)"
      $failedPackages += "{{ . }}"
      $lastFailedExitCode = $LASTEXITCODE
    }
{{ end }}

if ($failedPackages.Length -gt 0) {
  $failedPackagesStr = $failedPackages -join ', '
  Write-Host "Failed to install the following packages: $failedPackagesStr"
  exit $lastFailedExitCode
}
