Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ if .use_encrypted_data }}

if (-not (Test-Path "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt")) {

    New-Item -ItemType Directory -Path "{{ .chezmoi.homeDir }}/.config/chezmoi" -Force

    Write-Output "WARNING: Requesting decryption of age key. Please enter password and re-run chezmoi init to complete chezmoi.yaml data setup"
    chezmoi age decrypt --output "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/.data/key.txt.age"
    if ($LASTEXITCODE -ne 0) {
        exit $LASTEXITCODE
    }
}

{{ end }}
