Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{ $winget_packages := concat
  (dig "all" list .winget_packages)
  (dig .profile list .winget_packages) -}}

{{ $scoop_packages := concat
  (dig "all" list .scoop_packages)
  (dig .profile list .scoop_packages) -}}

#region Winget packages
{{ $winget_list := (output "cmd" "/C" "winget export -s winget -o %TEMP%\\winget_list && type %TEMP%\\winget_list") -}}
{{ range $winget_packages -}}
{{   if not (contains . $winget_list) -}}
        Write-Host Installing winget package '{{ .}}'
        winget install --accept-package-agreements --accept-source-agreements --silent --scope user --exact --source winget --id {{ . }}
{{   end -}}
{{ end }}
#endregion

#region Scoop packages
{{ if gt (len $scoop_packages) 0 -}}
  scoop install {{ $scoop_packages | join " " }}
{{ end }}
#endregion
