Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

# {{ include (joinPath .chezmoi.workingTree "bin/powershell-install-resources.ps1") | sha256sum }}

# Unset PSModulePath so that each shell below will initialize with the correct defaults
# Needed to avoid mixed version module paths
Remove-Item Env:PSModulePath

# Setup modules for PowerShell Desktop version 5.1
powershell.exe "{{ .chezmoi.workingTree }}/bin/powershell-install-resources.ps1"
if ($LASTEXITCODE -ne 0) {
    exit $LASTEXITCODE
}

# Setup modules for PowerShell Core
# {{- if lookPath "pwsh.exe" }}
pwsh.exe "{{ .chezmoi.workingTree }}/bin/powershell-install-resources.ps1"
if ($LASTEXITCODE -ne 0) {
    exit $LASTEXITCODE
}
# {{- end}}
