@echo off

setlocal enabledelayedexpansion

{{ $winget_packages := list -}}
{{ $scoop_packages := list -}}

{{ if eq .profile "personal" -}}
{{   $winget_packages = concat $winget_packages (list
     "Bitwarden.Bitwarden"
     "Kubernetes.kubectl"
     "direnv.direnv --rename direnv"
     ) -}}
{{ end -}}

{{ if eq .profile "work1" -}}
{{   $winget_packages = concat $winget_packages (list
     "Bitwarden.Bitwarden"
     "Kubernetes.kubectl"
     "direnv.direnv --rename direnv"
     ) -}}
{{ end -}}


@rem Winget packages
{{ $winget_list := (output "cmd" "/C" "winget export -s winget -o %TEMP%\\winget_list && type %TEMP%\\winget_list") -}}
{{ range $winget_packages -}}
{{   if not (contains . $winget_list) -}}
        echo Installing winget package '{{ .}}'
        winget install --accept-package-agreements --accept-source-agreements --silent --scope user --exact --source winget --id {{ . }}
{{   end -}}
{{ end }}

@rem Scoop packages
{{ if gt (len $scoop_packages) 0 -}}
  scoop install {{ $scoop_packages | join " " }}
{{ end }}
