# {{ if eq .chezmoi.os "linux" }}
".local/bin/fzf":
  type: archive-file
  url: https://github.com/junegunn/fzf/releases/download/{{ .versions.fzf }}/fzf-{{ .versions.fzf | trimPrefix "v" }}-linux_{{
      eq .chezmoi.arch "arm" | ternary (.uname.machine | trunc 5) .chezmoi.arch
    }}.tar.gz
  path: fzf

".config/fzf/":
  type: archive
  url: "https://github.com/junegunn/fzf/archive/refs/tags/{{ .versions.fzf }}.tar.gz"
  exact: true
  stripComponents: 2
  include: ['fzf-{{ .versions.fzf | trimPrefix "v" }}/shell/**']

# {{ end }}

# {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
".local/bin/fd":
  type: archive-file
  url: "https://github.com/sharkdp/fd/releases/download/{{ .versions.fd }}/fd-{{ .versions.fd }}-{{ .uname.machine }}-unknown-linux-gnu.tar.gz"
  stripComponents: 1
  path: fd

".local/bin/eza":
  type: archive-file
  url: https://github.com/eza-community/eza/releases/download/{{ .versions.eza }}/eza_{{
      eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-linux-gnu{{
      eq .chezmoi.arch "arm" | ternary "eabihf" "" }}.tar.gz
  stripComponents: 1
  path: eza

".local/bin/bat":
  type: archive-file
  url: https://github.com/sharkdp/bat/releases/download/{{ .versions.bat }}/bat-{{ .versions.bat }}-{{ .uname.machine }}-unknown-linux-gnu.tar.gz
  stripComponents: 1
  path: bat

".local/bin/dasel":
  type: file
  url: https://github.com/TomWright/dasel/releases/download/{{ .versions.dasel }}/dasel_linux_amd64
  executable: true

".local/bin/uv":
  type: archive-file
  url: "https://github.com/astral-sh/uv/releases/download/{{ .versions.uv }}/uv-{{ .uname.machine }}-unknown-{{ .chezmoi.os }}-gnu.tar.gz"
  stripComponents: 1
  path: "uv"

".local/bin/uvx":
  type: archive-file
  url: "https://github.com/astral-sh/uv/releases/download/{{ .versions.uv }}/uv-{{ .uname.machine }}-unknown-{{ .chezmoi.os }}-gnu.tar.gz"
  stripComponents: 1
  path: "uvx"

# busybox {{ if (lookPath "busybox") }}
".local/bin/ansi2txt":
  type: archive-file
  url: "http://ftp.nl.debian.org/debian/pool/main/c/colorized-logs/colorized-logs_2.6-1_amd64.deb"
  format: tar.xz
  filter:
    command: busybox
    args: ["ar", "p", "/dev/stdin", "data.tar.xz"]
  stripComponents: 1
  path: "usr/bin/ansi2txt"
# busybox {{ end }}

# {{ end }}

# ZSH related resources
# {{ if eq .chezmoi.os "linux" }}
".local/share/oh-my-zsh/":
  type: archive
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/themes/powerlevel10k/":
  type: archive
  url: "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/zsh-autosuggestions/":
  type: archive
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/zsh-nvm/":
  type: archive
  url: "https://github.com/lukechilds/zsh-nvm/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/fast-syntax-highlighting/":
  type: archive
  url: "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/evalcache/":
  type: archive
  url: "https://github.com/mroth/evalcache/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

# {{ end }}
