# {{ if eq .chezmoi.os "linux" }}
".local/bin/fzf":
  type: archive-file
  url: https://github.com/junegunn/fzf/releases/download/{{ .versions.fzf }}/fzf-{{ .versions.fzf }}-linux_{{
      eq .chezmoi.arch "arm" | ternary (.uname.machine | trunc 5) .chezmoi.arch
    }}.tar.gz
  path: "fzf"

".config/fzf/":
  type: archive
  url: "https://github.com/junegunn/fzf/archive/refs/tags/{{ .versions.fzf }}.tar.gz"
  exact: true
  stripComponents: 2
  include: ["fzf-{{ .versions.fzf }}/shell/**"]

".local/bin/eza":
  type: archive-file
  url: https://github.com/eza-community/eza/releases/download/{{ .versions.eza }}/eza_{{
      eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-linux-gnu{{
      eq .chezmoi.arch "arm" | ternary "eabihf" "" }}.tar.gz
  stripComponents: 1
  path: "eza"
# {{ end }}

# {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
".local/bin/fd":
  type: archive-file
  url: "https://github.com/sharkdp/fd/releases/download/{{ .versions.fd }}/fd-{{ .versions.fd }}-{{ .uname.machine }}-unknown-linux-gnu.tar.gz"
  path: "fd-{{ .versions.fd }}-{{ .uname.machine }}-unknown-linux-gnu/fd"

".local/bin/trivy":
  type: archive-file
  url: https://github.com/aquasecurity/trivy/releases/download/{{ .versions.trivy }}/trivy_{{ .versions.trivy | trimPrefix "v" }}_Linux-64bit.tar.gz
  path: "trivy"
# {{ end }}

# {{ if eq .chezmoi.os "linux" }}
".local/share/oh-my-zsh/":
  type: archive
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/themes/powerlevel10k/":
  type: archive
  url: "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/zsh-autosuggestions/":
  type: archive
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/zsh-nvm/":
  type: archive
  url: "https://github.com/lukechilds/zsh-nvm/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".local/share/oh-my-zsh/custom/plugins/fast-syntax-highlighting/":
  type: archive
  url: "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

# {{ end }}
