# {{- $fontsDir := "" }}
# {{- if eq .chezmoi.os "linux" }}
# {{-   $fontsDir = ".local/share/fonts" }}
# {{- else if eq .chezmoi.os "windows" }}
# {{-   $fontsDir = ".cache/chezmoi/fonts" }}
# {{- end }}

# Further configuration instructions on https://github.com/romkatv/powerlevel10k/blob/master/font.md

# {{- if eq .chezmoi.os "windows" }}

"{{ $fontsDir }}/MesloLGS NF Regular.ttf":
  type: file
  url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Regular.ttf"
  refreshPeriod: "168h"
"{{ $fontsDir }}/MesloLGS NF Bold.ttf":
  type: file
  url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Bold.ttf"
  refreshPeriod: "168h"
"{{ $fontsDir }}/MesloLGS NF Italic.ttf":
  type: file
  url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Italic.ttf"
  refreshPeriod: "168h"
"{{ $fontsDir }}/MesloLGS NF Bold Italic.ttf":
  type: file
  url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Bold Italic.ttf"
  refreshPeriod: "168h"

"{{ $fontsDir }}/":
  type: archive
  url: "https://github.com/microsoft/cascadia-code/releases/download/v2111.01/CascadiaCode-2111.01.zip"
  stripComponents: 1
  include: ["ttf/*.ttf"]

# {{- end }}
