# {{- $fontsDir := "" }}
# {{- if eq .chezmoi.os "linux" }}
# {{-   $fontsDir = ".local/share/fonts" }}
# {{- else if eq .chezmoi.os "windows" }}
# {{-   $fontsDir = ".cache/chezmoi/fonts" }}
# {{- end }}

# {{- if eq .chezmoi.os "windows" }}

# {{-   range list "Regular" "Bold" "Italic" "Bold Italic" }}
"{{ $fontsDir }}/MesloLGS NF/MesloLGS NF {{ . }}.ttf":
  type: file
  url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF {{ . }}.ttf"
  refreshPeriod: "168h"
# {{-   end }}

"{{ $fontsDir }}/CaskaydiaCoveNerdFont":
  type: archive
  url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/CascadiaCode.tar.xz"
  include:
    - CaskaydiaCoveNerdFont-Bold.ttf
    - CaskaydiaCoveNerdFont-BoldItalic.ttf
    - CaskaydiaCoveNerdFont-Italic.ttf
    - CaskaydiaCoveNerdFont-Regular.ttf
    - CaskaydiaCoveNerdFontMono-Bold.ttf
    - CaskaydiaCoveNerdFontMono-BoldItalic.ttf
    - CaskaydiaCoveNerdFontMono-Italic.ttf
    - CaskaydiaCoveNerdFontMono-Regular.ttf

"{{ $fontsDir }}/CascadiaCode":
  type: archive
  url: "https://github.com/microsoft/cascadia-code/releases/download/v2111.01/CascadiaCode-2111.01.zip"
  stripComponents: 1
  include: ["ttf/*.ttf"]

# {{- end }}
