{{- if .is_desktop -}}
#!/usr/bin/env bash

set -euo pipefail

export XDG_DATA_HOME="${XDG_DATA_HOME:="$HOME/.local/share"}"
export KREW_ROOT="${KREW_ROOT:-$XDG_DATA_HOME/krew}"

echo $KREW_ROOT

{{ if not (stat (joinPath .chezmoi.homeDir ".local/share/krew/bin/kubectl-krew")) }}
(
  cd "$(mktemp -d)" &&
  OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  KREW="krew-${OS}_${ARCH}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew
)
{{ end -}}


"$KREW_ROOT"/bin/kubectl-krew install {{ .kubectl_krew_plugins | join " " }} 2>&1 | grep -v "Installing plugin"

{{ end -}}
