{{- if and (lookPath "python3") (.is_desktop) -}}
#!/usr/bin/env bash

set -euo pipefail

# Install pipx
{{ if not (stat (joinPath .chezmoi.homeDir ".local/bin/pipx")) }}
  echo "Installing pipx"
  curl -Ls https://github.com/pypa/pipx/releases/download/{{ .versions.pipx_installer }}/pipx.pyz -o pipx.pyz && python3 pipx.pyz install pipx
{{ end }}

{{ $pipx_packages := concat
  (dig "all" list .pipx_packages)
  (dig .profile list .pipx_packages) -}}

echo "Installing/updating pipx packages: {{ $pipx_packages | join " " }}"
{{ range $pipx_packages -}}
  echo Installing pipx package '{{ . }}'
  .local/bin/pipx install {{ . }} --force
{{ end }}

{{ end -}}
