{{- if and .is_wsl (hasKey . "password_store") -}}
#!/usr/bin/env bash

set -euo pipefail

if [ ! -d "$HOME/.local/share/password-store" ]; then
    public_keys="$(ssh-add -L || >&2 echo 'Error while running ssh-add -L')"

    if [ -n "$public_keys" ]; then
      git clone {{ .password_store.repo }} $HOME/.local/share/password-store
    else
      >&2 echo "Skipping .local/share/password-store (no credentials available)"
    fi
fi

{{- end }}
