{{ if and (.is_desktop) (lookPath "git") -}}
#!/usr/bin/env bash

set -euo pipefail


cd "{{ .chezmoi.workingTree }}"

# configure push via ssh
origin_push=$(git remote get-url --push origin) || true
if [ ! -z "$origin_push" ]; then
  origin_push="${origin_push/https:\/\/github.com\//git@github.com:}"
  git remote set-url --push origin "$origin_push"
fi

PRE_COMMIT_BIN=$(command -v pre-commit || echo ~/.local/bin/pre-commit)
"$PRE_COMMIT_BIN" install
{{- end }}
