[user]
    name = {{ .name }}
{{- if get . "profiles" }}
    email = {{ (get .profiles .profile).email }}
    signingkey = {{ .git.signingkey }}
{{- else }}
    email = {{ .email }}
{{- end }}

{{ if eq .profile "work2" -}}
[http]
    sslBackend = schannel
{{- end }}

[init]
    defaultBranch = main

{{- if get . "profiles" }}
[includeIf "gitdir/i:~/.local/share/chezmoi/"]
    path = config-personal
{{- if .is_wsl }}
[includeIf "gitdir/i:/mnt/c/Users/{{ .wsl.win_username }}/.local/share/chezmoi/"]
    path = ./config-personal
{{- end }}
[includeIf "gitdir/i:~/data/personal/"]
    path = config-personal
[includeIf "gitdir/i:~/data/work/"]
    path = config-work1
[includeIf "gitdir/i:~/data/work/{{.profiles.work2.code }}/"]
    path = config-work2
[includeIf "gitdir/i:~/data/work/{{.profiles.work2.code }}-*/"]
    path = config-work2
{{- end }}
