[user]
    name = {{ .name }}
{{- if get . "profiles" }}
    email = {{ (get .profiles .profile).email }}
    signingkey = {{ .git.signingkey }}
{{- else }}
    email = {{ .email }}
{{- end}}

[init]
    defaultBranch = main

[includeIf "gitdir/i:~/.local/share/yadm/"]
    path = config-personal
[includeIf "gitdir/i:~/.local/share/chezmoi/"]
    path = config-personal

{{- if get . "profiles" }}
[includeIf "gitdir/i:~/data/personal/"]
    path = config-personal
[includeIf "gitdir/i:~/data/work/"]
    path = config-work1
[includeIf "gitdir/i:~/data/work/{{.profiles.work2.code }}/"]
    path = config-work2
[includeIf "gitdir/i:~/data/work/{{.profiles.work2.code }}-*/"]
    path = config-work2
{{- end}}
