{{ if .is_desktop -}}
# XDG - Ansible (defaults to ~/.ansible)
export ANSIBLE_HOME=$HOME/.local/share/ansible
export ANSIBLE_LOCAL_TEMP=$HOME/.cache/ansible/tmp
export ANSIBLE_GALAXY_CACHE_DIR=$HOME/.cache/ansible/galaxy_cache
export ANSIBLE_SSH_CONTROL_PATH_DIR="${ANSIBLE_HOME}"/cp

# XDG - pass
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/password-store

# XDG - gem
export GEM_HOME="${XDG_DATA_HOME}"/gem
export GEM_SPEC_CACHE="${XDG_CACHE_HOME}"/gem

# XDG - Docker
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
{{- end }}

# XDG - Gradle
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle

# XDG - node, npm, nvm
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export NVM_DIR="$XDG_DATA_HOME"/nvm
export NODE_REPL_HISTORY="$XDG_STATE_HOME"/node_repl_history

# XDG - less
export LESSHISTFILE="$XDG_STATE_HOME"/less/history

# XDG - pylint
export PYLINTHOME="${XDG_CACHE_HOME}"/pylint

# XDG - AWS
export AWS_SHARED_CREDENTIALS_FILE="$XDG_CONFIG_HOME"/aws/credentials
export AWS_CONFIG_FILE="$XDG_CONFIG_HOME"/aws/config

# XDG - Azure
export AZURE_CONFIG_DIR="$XDG_DATA_HOME"/azure

# XDG - AzCopy
export AZCOPY_LOG_LOCATION="$XDG_DATA_HOME"/azcopy
export AZCOPY_JOB_PLAN_LOCATION="$XDG_DATA_HOME"/azcopy/plans

# XDG - OpenSSL .rnd
export RANDFILE="$XDG_DATA_HOME"/rnd

# XDG - asdf
export ASDF_DATA_DIR="$XDG_DATA_HOME"/asdf

# XDG - dotnet
export DOTNET_CLI_HOME="$XDG_DATA_HOME"/dotnet

# XDG - krew
export KREW_ROOT="$XDG_DATA_HOME"/krew

# XDG - Python
export PYTHON_HISTORY="$XDG_DATA_HOME"/python/history

# XDG - ICEauthority
export ICEAUTHORITY="$XDG_CACHE_HOME"/ICEauthority
