{{ if .is_wsl -}}
# If running inside WSL
if [[ -n "$IS_WSL" || -n "$WSL_DISTRO_NAME" ]]; then
    # WSL SSH & GPG relay
    if [ -f $HOME/.ssh/ssh-gpg-wsl2-proxy ]; then
        echo "sourcing .ssh/ssh-gpg-wsl2-proxy"
        source $HOME/.ssh/ssh-gpg-wsl2-proxy
    fi
fi
{{- end }}
