{{- if (stat (joinPath .chezmoi.homeDir ".local/bin/fnox")) -}}
{{- if (stat (joinPath .chezmoi.homeDir ".local/bin/usage")) -}}
{{- /* fnox requires usage for completion */ -}}
{{- output (joinPath .chezmoi.homeDir ".local/bin/fnox") "completion" "zsh" -}}
{{- end -}}
{{- end -}}
